*.pyc
*.log
*.js
verify?.org

extractors/pasta_*.py
## use to untrack previously tracked files
# git update-index --skip-worktree extractors/pasta_xls.py
NielsCode/
__pycache__/
.vscode/
doxygen/
temporaryTests/